// brand name
mixin brandName
    .brand__name.container.d-flex.flex-column
        span
            |Green
            span(class="brand__name--font") Shop
        span(class="brand__sub ms-3") Món quà từ thiên nhiên

// email input
mixin emailInput
    form.email__input
        .input-group
            input(type="text" class="input")
            span(class="input-group-text")
                i(class=`${paperPlaneIcon}`)

// product card
mixin productCardVertical(src, alt, name, price, discount)
    .card.rounded-0.h-100.product__card&attributes(attributes)
        .container-fluid
            img(src=src class="card-img-top" alt=alt)
            .card-img-overlay.rounded-0
                .container.d-flex.justify-content-center
                    button.rounded-pill.buy__btn.me-2 MUA NGAY
                    button.rounded-circle.search__btn
                        i(class=`${magnifyIcon}`)
        .card-body.d-flex.flex-column.align-items-center
            h5.card-title= name
            p.card-text.mb-2
                - for (var i = 0; i < 4; i++) {
                    i(class=`product__star ${fullStar}`)
                - }
                i(class=`product__star ${halfStar}`)
            .d-flex
                span.me-2.product__price= price
                span.product__discount= discount

mixin productCardHorizontal(src, alt, name, price, discount)
    .card.product__card.h-100.product__card--horizontal.rounded-0
        .row.g-0
            .col-md-4.product__img
                img(src=src class="img-fluid rounded-start" alt=alt)
            .col-md-8
                .card-body
                    h5.card-title= name
                    p.card-text.mb-2
                        - for (var i = 0; i < 4; i++) {
                            i(class=`product__star ${fullStar}`)
                        - }
                        i(class=`product__star ${halfStar}`)
                    span.me-2.product__price= price

// section label
mixin sectionLabel(label, width)
    .section__label
        span.label(style=`width: ${width}rem`)= label
        .progress
            .progress-bar(role="progressbar")(style=`width: ${width}rem`)

// news card
mixin newsCard(src, alt, time, title, content)
    .card.h-100.rounded-0.news__cards
        img.img-fluid(src=src class="card-img-top" alt=alt)
        .card-body
            p.card-text.time= time
            h5.card-title= title
            p.card-text= content
            a.link(href="#") Đọc tiếp
