extends ../layouts/default-layout.pug

block title
    title Trang Chủ

block content
    section#main.main
        // sliders
        #carouselExampleIndicators.carousel.slide(data-bs-ride="carousel")
            .carousel-indicators
                each img,index in sliders
                    if img.active
                        button(type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to=index class="active" aria-current="true")

                    else
                        button(type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to=index)
            .carousel-inner
                each img in sliders
                    if img.active
                        .carousel-item.active
                            img(src=img.src class="d-block w-100" alt=img.alt)

                    else
                        .carousel-item
                            img(src=img.src class="d-block w-100" alt=img.alt)

        //product highlight
        .container.main__container
            +sectionLabel('Sản phẩm nổi bật')
            .grid__container.mt-5
                - for (var i = 0; i < 6; i++) {
                    if i==0
                        +productCardVertical(products[i].src, products[i].alt, products[i].name, products[i].price, products[i].discount)(class="grid__start card__badge__new")
                    else if i==5
                        +productCardVertical(products[i].src, products[i].alt, products[i].name, products[i].price, products[i].discount)(class="grid__end card__badge__discount")
                    else
                        +productCardVertical(products[i].src, products[i].alt, products[i].name, products[i].price, products[i].discount)
                - }
