extends ../layouts/default-layout.pug

block title
    title Trang Chủ

block content
    section#main.main
        // sliders
        #carouselExampleIndicators.carousel.slide(data-bs-ride="carousel")
            .carousel-indicators
                each img,index in sliders
                    if img.active
                        button(type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to=index class="active" aria-current="true")

                    else
                        button(type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to=index)
            .carousel-inner
                each img in sliders
                    if img.active
                        .carousel-item.active
                            img(src=img.src class="d-block w-100" alt=img.alt)

                    else
                        .carousel-item
                            img(src=img.src class="d-block w-100" alt=img.alt)

        //product highlight
        .container.main__container
            +sectionLabel('Sản phẩm nổi bật','12')
            .grid__container.mt-5
                - for (var i = 0; i < 6; i++) {
                    if i==0
                        +productCardVertical(products[i].src, products[i].alt, products[i].name, products[i].price, products[i].discount)(class="grid__start card__badge__new")
                    else if i==5
                        +productCardVertical(products[i].src, products[i].alt, products[i].name, products[i].price, products[i].discount)(class="grid__end card__badge__discount")
                    else
                        +productCardVertical(products[i].src, products[i].alt, products[i].name, products[i].price, products[i].discount)
                - }

        //sale products and top-sale products
        .container.main__container
            .row
                // top-sale products
                .col-4
                    +sectionLabel('Sản phẩm mua nhiều','15')
                    .mt-5
                        - for (var i = 0; i < 6; i++) {
                            +productCardHorizontal(products[i].src, products[i].alt, products[i].name, products[i].price, products[i].discount)
                        - }

                // sale products
                .col-8.sale__products
                    +sectionLabel('Sản phẩm khuyến mãi','15')
                    .mt-5
                        #carouselExampleFade.carousel.slide.carousel-fade(data-bs-ride="carousel")
                            .carousel-inner
                                .carousel-item.active
                                    .row.row-cols-1.row-cols-3.g-4
                                        - for (var i = 0; i < 6; i++) {
                                            .col
                                                +productCardVertical(products[i].src, products[i].alt, products[i].name, products[i].price, products[i].discount)(class="card__badge__discount")
                                        - }
                                .carousel-item
                                    .row.row-cols-1.row-cols-3.g-4
                                        - for (var i = 6; i < 12; i++) {
                                            .col
                                                +productCardVertical(products[i].src, products[i].alt, products[i].name, products[i].price, products[i].discount)(class="card__badge__discount")
                                        - }
                            .button__ctrl
                                button.carousel-control-prev(type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev")
                                    i(class=`arrow ${prevArrow}`)
                                button.carousel-control-next(type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next")
                                    i(class=`arrow ${nextArrow}`)

        //
