extends ../layouts/default-layout.pug

block title
    title Trang Chủ

block content
    section#main.main
        // sliders
        #carouselExampleIndicators.carousel.slide(data-bs-ride="carousel")
            .carousel-indicators
                each img,index in sliders
                    if img.active
                        button(type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to=index class="active" aria-current="true")

                    else
                        button(type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to=index)
            .carousel-inner
                each img in sliders
                    if img.active
                        .carousel-item.active
                            img(src=img.src class="d-block w-100" alt=img.alt)

                    else
                        .carousel-item
                            img(src=img.src class="d-block w-100" alt=img.alt)

        //
        .container.m-5
            each product in products
                +productCardVertical(product.src, product.alt, product.name, product.price, product.discount)

                +productCardHorizontal(product.src, product.alt, product.name, product.price, product.discount)
